.Tasks {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Tasks__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 16px;
}

.Tasks__title {
  font-size: 20px;
  margin-left: 32px;
}

.Tasks__tasks {
  width: 100%;
  max-width: 1000px;
}

.Tasks__createTask {
  border-bottom: 1px solid rgba(0,0,0,0.12) !important;
}

.Tasks__createTaskIcon {
  padding-left: 9px !important;
}